svg {
  max-width: 14px;
  cursor: pointer;
}

.delete {
  color: red;
}

.complete {
  color: greenyellow;
}

@media screen and (min-width: 756px) {
  /* :root {
    font-size: 20px;
  } */
  svg {
    height: 20px;
    max-width: 30px;
    cursor: pointer;
  }
}
